@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}

input {
  outline: none !important;
  box-shadow: none !important;
}

.main-bg {
  background: #1b1f23;
}

.text-gray {
  color: #bbbcbd;
}

.main-padding {
  padding-left: 120px;
  padding-right: 120px;
}

@media (min-width: 1537px) {
  .main-search-input {
    width: 310px !important;
  }
}

@media (max-width: 1280px) {
  .main-padding {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1110px) {
  .main-search-input {
    width: 40px;
  }
  .main-search-input:focus {
    position: absolute;
    width: 100%;
    min-width: calc(100vw - 200px);
  }
}

@media (max-width: 1024px) {
  .text-span {
    display: none;
  }
  .for-border {
    height: 65px !important;
  }
  .nav-link img {
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .main-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-search-input:focus {
    min-width: calc(100vw - 110px);
  }
  .floating-messaging {
    display: none;
  }
  .navbar > div {
    border: none !important;
    margin: 0 !important;
  }
}

@media (max-width: 640px) {
  .main-search-input {
    padding-right: 0;
  }
}

@media (max-width: 540px) {
  .main-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-search-input:focus {
    width: 315px !important;
  }
}

@media (max-width: 395px) {
  .main-search-input:focus {
    width: 310px !important;
  }
}

@media(min-width: 640px) {
  .repost-content {
    width: 18rem !important;
  }
}

.nav-jobs-mobile {
  display: none;
}

.nav-link:hover svg,
.nav-link:hover span,
.nav-link-premium:hover {
  color: #fff !important;
}

.floating-active {
  position: absolute;
  bottom: 500px;
  background: #1b1f23;
  left: 0;
  padding-left: 12px;
  border-bottom: 1px solid rgb(255 255 255/0.9);
}

.floating-input:hover,
.floating-input:focus,
.edit-floating-input:hover,
.edit-floating-input:focus {
  border: 2px solid #ffffffe6;
}

.left-side-img {
  transform: translatex(-50%);
}

.left-side-text-link:hover p {
  color: #71b7fb;
}

.main-search-input {
  border: none !important;
}

.media-post-img {
  transform: translate(-50%, -50%);
}

.icon-img-react {
  width: 32px !important;
  height: 32px !important;
  max-width: max-content !important;
}

.reacts-side {
  width: 275px !important;
}
